<div class="col-sm-4 col-xs-12">
  <p><%= pluralize(league.seasons_count, "Season") %></p>
  <p><%= pluralize(league.games_count, "Game") %></p>
  <p>27 Players</p>
</div>
<div class="col-sm-4 col-xs-12">
  <p>Cumulative Pot: $2,765</p>
  <p>Largest Pot: $975</p>
  <p>Last Game: Jan 31, 2016</p>
</div>
<div class="col-sm-4 col-xs-12">
  <p>League Leader: John S.</p>
  <p>League Loser: Michael C.</p>
  <p>Active Games: 1</p>
</div>
